server:
  port: 8080

spring:
  application:
    name: gateway
  profiles:
    active: @env@
  main:
    allow-bean-definition-overriding: true
    web-application-type: reactive

jwt:
  secret: harrisonSecretKeyShouldBeLongEnoughForHS512AlgorithmOrSimilar1234567890
