server:
  port: 8081

spring:
  application:
    name: sso-service
  profiles:
    active: @env@

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

jwt:
  secret: harrisonSecretKeyShouldBeLongEnoughForHS512AlgorithmOrSimilar1234567890
  expiration: 86400000 # 24 hours
