<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harrison.sso.mapper.UserMapper">

    <select id="selectUserListWithRole" resultType="cn.harrison.sso.entity.User">
        SELECT 
            u.*,
            r.id AS roleId,
            r.role_name AS roleName
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.user_id = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.id AND r.deleted = 0
        WHERE u.deleted = 0
        <if test="user.username != null and user.username != ''">
            AND u.username LIKE CONCAT('%', #{user.username}, '%')
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile LIKE CONCAT('%', #{user.mobile}, '%')
        </if>
        <if test="user.status != null">
            AND u.status = #{user.status}
        </if>
        ORDER BY u.create_time DESC
    </select>

</mapper>
